# Include the production dependencies
-r requirements.txt

# Testing and development dependencies
bandit>=1.0,<2.0
flake8==3.8.3
moto==5.0.1
pyfakefs==4.0.2
pyflakes==2.2.0
pylint==2.5.3
pytest-cov==4.1.0
pytest==7.4.4
requests-mock==1.8.0
